<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <span class="profile-text">Pik Farm</span>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
    </ul>
    <ul class="navbar-nav navbar-nav-right">
          <a class="text" style="color: beige;" (click)="logOut()">ออกจากระบบ</a>
    </ul>
  </div>
</nav>
