<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/profile" routerLinkActive="active">
        <i class="menu-icon fa fa-user-o"></i>
        <span class="menu-title">ข้อมูลส่วนตัว</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/user" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">จัดการผู้ใช้งาน</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/share" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">จัดการ หุ้น</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/booking" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">จัดการ การจอง</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/porkfeed" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">จัดการอาหารหมู</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/divided" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">ปันผล</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/home/brand" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">ยี่ห่อ</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/gen" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">รุ่น</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/report" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">รายงาน</span>
      </a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/home/staff" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">ข้อมูลพนักงาน</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/rentafield" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">ข้อมูลสนาม</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/rentafield-approved" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">ยืนยันการจอง</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/ticket" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">ข้อมูลการจอง</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/comment" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">ความคิดเห็น</span>
      </a>
    </li> -->
  </ul>
</nav>
