
<div class="row">
  <div class="col-lg-16 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">รายงานปันผล</h3>
        <br />
        <form class="form-sample" [formGroup]="inputForm">
          <div class="row">
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">ปี</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="yearData" placeholder="กรอกปี ค.ศ."/>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="getDividedList()">ค้นหา</button>
        </div>
        </form>
        <br/>
        <div class="table-responsive">
          <p-dataTable [value]="dividedList" [emptyMessage]="'ไม่พบข้อมูล'" [responsive]="true"
            [rowsPerPageOptions]="[5,10,20]" [pageLinks]="5" [(selection)]="selected" [paginator]="true"
            [scrollable]="true" [rows]="5" [headerCheckboxToggleAllPages]="true">
            <p-column field="idUser" header="ชื่อสมาชิก" [style]="{'width':'15%'}">
              <ng-template let-item="rowData" let-index="rowIndex" pTemplate="body">
                <span>{{item.fname}} {{item.lname}}</span>
              </ng-template>
            </p-column>
            <p-column field="priceShares" header="ราคาต่อหุ้น" [style]="{'width':'12%'}"></p-column>
            <p-column field="numberShares" header="จำนวนหุ้น" [style]="{'width':'12%'}"></p-column>
            <p-column field="profitShare" header="กำไรหุ้น" [style]="{'width':'12%'}"></p-column>
            <p-column field="summaryPrice" header="ยอดสั่งซื้อสินค้า" [style]="{'width':'15%'}"></p-column>
            <p-column field="profitSum" header="กำไรคืนจากสินค้า" [style]="{'width':'15%'}"></p-column>
            <p-column field="sumDividend" header="รวมปันผล" [style]="{'width':'15%'}"></p-column>
            <p-column field="yearDividend" header="ปี" [style]="{'width':'15%'}"></p-column>
          </p-dataTable>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
